/* 
    Created on : 11.10.2014, 23:41:08
    Author     : corefault
*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

body {
  margin: 80px auto;
  width: 800px;
  font-size: 13px; }

header img {
  width: 84px;
  height: 84px;
  border-radius: 42px;
  float: left; }
header aside {
  float: left;
  margin-left: 20px; }
header h1 {
  font-size: 32px;
  font-weight: normal;
  color: #000; }
header span {
  color: #a2a2a2;
  display: block; }

section {
  clear: both;
  padding-top: 30px; }
  section h3 {
    font-size: 18px;
    font-weight: light;
    color: #888;
    padding-bottom: 10px; }
  section h3:before {
    content: "Today is "; }
  section canvas {
    padding-top: 20px; }
  section .alarm {
    background-color: #b00038 !important;
    opacity: 0.90; }
  section .notify {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #b00038;
    display: none;
    color: #fff;
    font-size: 12px;
    text-align: center; }
    section .notify span {
      margin-top: 6px;
      display: block; }
  section .cell {
    border-right: 2px solid #fff;
    padding: 10px;
    background-color: #eee;
    float: left;
    width: 376px;
    position: relative; }
    section .cell img {
      float: left;
      margin-right: 20px; }
    section .cell h1 {
      font-size: 48px;
      color: #999;
      letter-spacing: -1px; }
    section .cell h2 {
      color: #777;
      font-size: 20px;
      font-weight: normal;
      margin-top: -10px; }

article {
  background-color: #e8e8e8;
  border-top: 1px solid #c4c5c6;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 100%;
  font-size: 11px;
  color: #777;
  overflow-y: auto; }

.element-animation {
  animation: animationFrames ease-in-out 4s;
  -webkit-animation: animationFrames ease-in-out 4s;
  -moz-animation: animationFrames ease-in-out 4s;
  -o-animation: animationFrames ease-in-out 4s;
  -ms-animation: animationFrames ease-in-out 4s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite; }

@keyframes animationFrames {
  0%, 100% {
    transform: scaleX(0.8) scaleY(0.8); }
  50% {
    transform: scaleX(1.2) scaleY(1.2); } }
@-moz-keyframes animationFrames {
  0%,100% {
    -moz-transform: scaleX(0.8) scaleY(0.8); }
  50% {
    -moz-transform: scaleX(1.2) scaleY(1.2); } }
@-webkit-keyframes animationFrames {
  0%,100% {
    -webkit-transform: scaleX(0.8) scaleY(0.8); }
  50% {
    -webkit-transform: scaleX(1.2) scaleY(1.2); } }
@-o-keyframes animationFrames {
  0%,100% {
    -o-transform: scaleX(0.8) scaleY(0.8); }
  50% {
    -o-transform: scaleX(1.2) scaleY(1.2); } }
@-ms-keyframes animationFrames {
  0%,100% {
    -ms-transform: scaleX(0.8) scaleY(0.8); }
  50% {
    -ms-transform: scaleX(1.2) scaleY(1.2); } }

/*# sourceMappingURL=style.css.map */
