/* 
    Created on : 19.10.2014, 17:16:50
    Author     : corefault
*/
$width:700px;

* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size:13px;
    line-height:22px;
}

header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:#fff;
    border-bottom:1px solid #c5c5c5;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    color:#555;
    font-weight:200;
    font-size:38px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index:10000;

    ul {
        float:right;
        li {
            font-size:15px;
            color:#999;
            float:left;
            list-style-type: none;
            margin-left:20px;

            a {
                text-decoration:none;
                color:#646464;
            }

            a:hover {
                color:#000;
            }
        }
    }

}

.container {
    margin:0 auto;
    width:$width;
}

footer {
    border-top:1px solid #c5c5c5;
    text-align:center;
    font-size:12px;
    color:#aaa;
}

section {
    padding-top:20px;
    clear:both;

    .clearfix {
        clear:both;
    }

    .center {
        text-align:center;
        color:#555;
    }

    .columns {
        width: 33%;
        float:left;
        text-align:center;
        color:#555;
        height:120px;

        img {
            height:32px;
            display:block;
            margin:0 auto;

        }
    }

    h2 {
        font-weight:100;
        font-size:24px;
        text-align:center;
        padding-bottom: 10px;
    }

    .cut {
        padding-top:20px;
        padding-bottom:20px;
        border-bottom: 1px solid #c5c5c5;
    }
    .first {
        padding-top:100px;
    }

    .right {
        float: right;
    }
}

