/* 
    Created on : 11.10.2014, 23:41:08
    Author     : corefault
*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body {
    font-size:14px;
}
/*====================================================
 HEADER styling
====================================================*/
header {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:38px;
    background-color:#303030;
    color:#fff;
}
header h1 {
    font-size:28px;
    font-weight:300;
    float:left;
    margin-left:40px;
}

header ul {
    float:right;
    margin-right:40px;
}
header ul li {
    list-style-type:none;
    float:left;
    padding:10px;
    cursor:pointer;
}
header ul li:hover {
    background-color:#fff;
    color:#303030;
}
/*====================================================
 CONTENT styling
====================================================*/
#content {
    position:absolute;
    top:38px;
    left:0;
    width:100%;
    height:calc(100% - 38px);
}
#content .cell {
    text-align:center;
    float:left;
    width:50%;
    height:50%;
    padding:0;
    margin:0;
    position:relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position:relative;
}
#content .cell canvas {
    position:absolute;
    bottom:-33px;
    left:0;
    height:100px;
    width:100%;
}
#content .border-r {
    border-right:1px solid #d9d9d9;
}
#content .border-b {
    border-bottom:1px solid #d9d9d9;
}
#content .alarm {
    background-color:#b00038;
    opacity:0.5;
}

#content .background {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-filter: grayscale(0.8) opacity(0.2);
}
#content .cell h1 {
    font-weight:bold;
    font-size:48px;
    color:#000;
}
#content .cell h2 {
    font-weight:normal;
    font-size:22px;
}
/*====================================================
 common stylEs
====================================================*/
.mt-40 {
    margin-top:40px;
}
/*====================================================
 CRITICALstyle
====================================================*/
#critical {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #b00038;
    opacity: 0.90; 
}
#critical div {
    position: absolute;
    font-size: 64px;
    color: #eee;
    font-weight: normal;
    letter-spacing: -2px;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
    display: block; 
}
/*====================================================
 animation ahead :-)
====================================================*/
.element-animation {
    animation: animationFrames ease-in-out 4s;
    -webkit-animation: animationFrames ease-in-out 4s;
    -moz-animation: animationFrames ease-in-out 4s;
    -o-animation: animationFrames ease-in-out 4s;
    -ms-animation: animationFrames ease-in-out 4s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite; }

@keyframes animationFrames {
    0%, 100% {
        transform: scaleX(0.8) scaleY(0.8); }
    50% {
        transform: scaleX(1.2) scaleY(1.2); } 
}
@-moz-keyframes animationFrames {
    0%,100% {
        -moz-transform: scaleX(0.8) scaleY(0.8); }
    50% {
        -moz-transform: scaleX(1.2) scaleY(1.2); } }
@-webkit-keyframes animationFrames {
    0%,100% {
        -webkit-transform: scaleX(0.8) scaleY(0.8); }
    50% {
        -webkit-transform: scaleX(1.2) scaleY(1.2); } 
}
@-o-keyframes animationFrames {
    0%,100% {
        -o-transform: scaleX(0.8) scaleY(0.8); }
    50% {
        -o-transform: scaleX(1.2) scaleY(1.2); } }
@-ms-keyframes animationFrames {
    0%,100% {
        -ms-transform: scaleX(0.8) scaleY(0.8); }
    50% {
        -ms-transform: scaleX(1.2) scaleY(1.2); } }

